.canvas {
    width: 100%;
    height: 100%;
    background: linear-gradient(30deg, rgba(178,153,141,1) 35%, rgba(134,125,132,1) 79%);
    touch-action: none
}

.float_buttons{
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: absolute;
    top: 87px;
    left: 7px;
}
